<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support.StrongNamed" version="3.8.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.StrongNamed" version="3.8.0" targetFramework="net461" />
  <package id="Selenium.WebDriverBackedSelenium.StrongNamed" version="3.8.0" targetFramework="net461" />
</packages>