<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
		<section name="tenancyConfiguration" type="additiv.Imcs.Backend.Core.Configuration.TenancyConfiguration.TenancyConfigurationSection" />

		<!-- -For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<tenancyConfiguration>
		<tenants>
			<tenant name="Toni">
				<connectionStrings>
					<!--<add name="Main" connectionString="Data Source=212.71.107.76;Initial Catalog=ADFS_DAM_SA;UID=sa;PWD=alioth;" />-->
					<!--<add name="Main" connectionString="Data Source=192.168.44.45;Initial Catalog=IMCS_DAM_V2_CLEAN;UID=IMCS_DAM_V2_CLEAN;PWD=u1l4gadsfb1h6u;" />-->
					<add name="Main" connectionString="Data Source=192.168.44.45;Initial Catalog=ADFS_DAM_DIS_TONI_DEV;UID=ADFS_DAM_DIS_TONI_DEV;PWD=lllguaav9e3rva;" />
					<add name="Stats" connectionString="Data Source=192.168.44.45;Initial Catalog=ADFS_DAM_DIS_TONI_DEV;UID=ADFS_DAM_DIS_TONI_DEV;PWD=lllguaav9e3rva;" />
					<add name="OldImcs" connectionString="Data Source=192.168.44.45;Initial Catalog=ADFS_DAM_DIS_TONI_DEV;UID=ADFS_DAM_DIS_TONI_DEV;PWD=lllguaav9e3rva;" />
					<add name="Newsletter" connectionString="Data Source=192.168.44.45;Initial Catalog=ADFS_DAM_DIS_TONI_DEV;UID=ADFS_DAM_DIS_TONI_DEV;PWD=lllguaav9e3rva;"/>
				</connectionStrings>
			</tenant>
		</tenants>
	</tenancyConfiguration>
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<!-- Your namespace here -->
				<add namespace="additiv.Imcs.Backend.Module.Web.Extensions" /> 
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<connectionStrings>
		<!--<add name="IMCS.Core" connectionString="Data Source=192.168.44.45;Initial Catalog=IMCS_DAM_V2_CLEAN;UID=IMCS_DAM_V2_CLEAN;PWD=u1l4gadsfb1h6u;" providerName="System.Data.SqlClient" />-->
		<add name="IMCS.Core" connectionString="Data Source=192.168.44.45;Initial Catalog=ADFS_DAM_DIS_TONI_DEV;UID=ADFS_DAM_DIS_TONI_DEV;PWD=lllguaav9e3rva;" providerName="System.Data.SqlClient" />
		<add name="IMCS.Admin" connectionString="Data Source=192.168.44.45;Initial Catalog=ADFS_DAM_DIS_TONI_ADMIN_DEV;UID=ADFS_DAM_DIS_TONI_ADMIN_DEV;PWD=e93e673edgi5eu;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="documentUploadCampaignId" value="6" />

		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="MessagePlaceHoldersPath" value="~/Xml/MessagePlaceHolders.xml" />
		<add key="DecisionPointPath" value="~/Xml/DecisionPoint.xml" />
		<add key="SampleAppSetting" value="SampleAppSetting" />
		<add key="DocMetadataTemplates" value="~/Media/DocTemplates/" />
		<add key="DocMetadataIconsPath" value="~/Media/DocIcons/" />
		<add key="DocMetadataIconsExtension" value="*.gif" />
		<add key="HtmlFilePattern" value="*.htm" />
		<add key="PdfFilePattern" value="*.pdf" />
		<add key="DocMetadataTemplatesDefaultExtension" value="htm" />
		<add key="XmlCityPath" value="~/XML/Cities.xml" />
		<add key="Scoring2" value="manual" />
		<!--<add key="Scoring2" value="auto"/>-->
		<!--<add key="GetScoreServiceUrl" value="https://services.deltavista.com/SSL/dvss/services/DVSOAPServiceV3"/>-->
		<add key="GetScoreServiceUrl" value="https://preprodservices.deltavista.com/dvss/services/DVSOAPServiceV3" />
		<!--<add key="ZekServiceUrl" value="https://services.deltavista.com/SSL/dvzek/services/ZEKTransactionService"/>-->
		<add key="ZekServiceUrl" value="https://preprodservices.deltavista.com/dvzek/anonymous/services/ZEKTransactionService" />
		<!--<add key="ZekUserName" value="LifeSoapUser"/>-->
		<!--<add key="ZekPassword" value="a77$hW?QDR"/>-->
		<add key="ZekUserName" value="DVSS_Additiv" />
		<add key="ZekPassword" value="$D*kSSrNIY9C" />
		<add key="GetScoreLogin" value="LifeSoapUser" />
		<add key="GetScorePassword" value="a77$hW?QDR" />
		<add key="ZekCertificatePath" value="App_data" />
		<add key="ChannelId" value="1"/>
		<!--email-->
		<add key="SmtpServer" value="smtp.everyware.ch" />
		<add key="FromAddress" value="noreply@bekb.com" />
		<add key="CampaignId" value="2" />
		<add key="APR_CEL" value="6.9" />
		<add key="APR_STL" value="8.9" />
		<add key="PpiInterest" value="8" />
		<add key="CallOffPeriodInDays" value="0" />
		<add key="FrontendUrl" value="http://localhost:55764/" />
		<add key="VirtualFrontendAppPath" value="https://cccockpit.enyfinance.ch/FApp_Data/" />
		<add key="VirtualFrontendDocumentPath" value="~/FAPP_DATA/Document/" />
		<add key="FtpUri" value="ftp://192.168.86.212/Document/" />
		<add key="FtpUser" value="ftpappdata" />
		<add key="FtpPass" value="rQ97kx9y" />
		<add key="CockpitUrl" value="http://localhost:57301/" />
		<add key="height-chart-1" value="280" />
		<add key="height-chart-2" value="335" />
		<add key="AbsoluteExpiration" value="15" />
		<add key="MaxCacheableRows" value="250" />
		<add key="MediaFolder" value="/Media" />
		<add key="PasswordExpireDays" value="90" />
		<add key="AuthenticationShortTimeoutMinutes" value="15" />

		<!--shop-->
		<add key="ConferenceAssetType" value="18" />
		<add key="AssetType" value="117" />
		<add key="InstanceAssetType" value="118" />
		<add key="EvolutionaryAtoms" value="30565;30566;30567;30568" />
		<add key="AttemptAmount" value="999" />
		<add key="AttemptInterval" value="5" />

		<!-- Contact Management module - Data Import -->
		<add key="UploadPath" value="~/DataImport/Upload/" />
		<add key="CustomLogicPath" value="~/DataImport/CustomLogic/" />

		<!--proxy -->
		<add key="UseProxy" value="false" />
		<add key="ProxyUser" value="" />
		<add key="ProxyPassword" value="" />
		<add key="ProxyDomain" value="" />
		<add key="ProxyHost" value="" />
		<add key="ProxyPort" value="8080" />

		<!--sms authorization-->
		<add key="SmsAuthorizationRequired" value="false" />
		<add key="SmsProvider" value="swissphone" />
		<!--<add key="FromNumber" value="additiv" />
		<add key="SmsServiceUserName" value="bekb-sms" />
		<add key="SmsServicePassword" value="o93i7ahbah5v" />
		<add key="SmsServiceUrl" value="https://www.uprovide.com/SMS/SMSsend.cfm" />-->
		<add key="FromNumber" value="GLKB direkt" />
		<add key="SmsServiceUserName" value="000000624" />
		<add key="SmsServicePassword" value="F1q5EhGj" />
		<add key="SmsServiceUrl" value="https://imasys5.swissphone-gateway.com/IZ/sendmessage.aspx" />

		<!--trkd-->
		<add key="TrkdServiceApplicationId" value="PeterKollerClaridenleuCom" />
		<add key="TrkdServiceUserName" value="peter.koller@claridenleu.com" />
		<add key="TrkdServicePassword" value="Welcome1" />

		<add key="CbsExportFile" value="" />
		<add key="BackendUrl" value="http://dis-toni-backend-dev-new.additiv.com/" />
		<add key="HistoryPeriod" value="24" />

		<!--Advisor-->
		<add key="AdvisorAppUrl" value="http://naboo.dev.additiv.ch/" />
		<add key="AdvisorResetPasswordUrl" value="http://naboo.dev.additiv.ch/#login?key=" />

		<!--Price Import-->
		<add key="XigniteServiceToken" value="B0C52FA51A604573B7984EE33FBC5D39" />
		
		<!--Integration-->
		<add key="IntegrationActive" value="true" />
		<add key="IntegrationServiceUrl" value="https://gklb-direct_host:8080/service/investomat" />
		<add key="AllowAppMessagePush" value="false" />
		<add key="AppMessagePushUrl" value="" />

		<add key="IntegrationCookieName" value="JSESSIONID" />
		<add key="IntegrationCookiePath" value="/" />
		<add key="IntegrationCookieDomain" value="additiv.ch" />
		<add key="IntegrationLoginUrl" value="/Integration/IntegrationLogin?redirectTo={0}" />
		<add key="IntegrationCockpitLoginUrl" value="/Integration/IntegrationCockpitLogin" />
		<add key="IntegrationRegistrationUrl" value="/Integration/IntegrationRegistration" />
		<add key="IntegrationContactUrl" value="/Integration/IntegrationContact" />
		<add key="IntegrationLogoutUrl" value="/Integration/IntegrationLogout" />
		<add key="IntegrationDashboardUrl" value="https://www.glkb-direkt.ch/dashboard?6" />

		<add key="FrontendContactCockpitUrl" value="http://naboo.dev.additiv.ch/investomatcockpit?tkid=" />
		<add key="FrontendContactOrderUrl" value="http://naboo.dev.additiv.ch/investomatbestellen?tkid=" />

		<add key="sixFinanceServiceLogin" value="glkb" />
		<add key="sixFinanceServicePassword" value="glkb2014" />
		<add key="sixFinanceServiceMarkets" value="4,349,351,352,380,393" />
		<add key="sixFinanceServiceExchangeRateMarkets" value="148" />
		<add key="ExchangeRateSecurityTypeId" value="12" />
		<add key="MultiComputerAuthenticationEnabled" value="true" />
		<add key="bankingCoreConnectionString" value="Data Source=192.168.44.45;Initial Catalog=ADFS_DAM_DIS_TONI_DEV;UID=ADFS_DAM_DIS_TONI_DEV;PWD=lllguaav9e3rva;" />
	</appSettings>
	<system.data>
		<DbProviderFactories>
			<add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
			<add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
			<add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
		</DbProviderFactories>
	</system.data>
	<location path="account">
		<appSettings file="Views/account/settings.config" />
	</location>
	<location path="favicon.ico">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Content">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Image">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Media">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<customErrors mode="Off"/>
		<!-- <httpRuntime targetFramework="4.5" requestValidationMode="2.0" /> -->
		<httpRuntime targetFramework="4.5" />
		<compilation debug="true" targetFramework="4.5">
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880" />
		</authentication>
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="999999999"/>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="P3P" value="CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly> 
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="finance-wsSoap11" />
				<binding name="BasicHttpBinding_IDocumentGenerationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
				<binding name="BasicHttpBinding_IDocumentHandlingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding_IDocumentGenerationService" />
				<binding name="NetTcpBinding_IDocumentHandlingService" />
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="HttpsAndAnonymous_ITokenManagement_1_HttpsAndAnonymous" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="524288000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="HttpAndRKDToken_ISearch_EquityQuote_1_HttpAndRKDToken" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="524288000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None" />
				</binding>
				<binding name="HttpAndRKDToken_IQuotes_1_HttpAndRKDToken" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="524288000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://api.rkd.reuters.com/api/TokenManagement/TokenManagement.svc/Anonymous" binding="wsHttpBinding" bindingConfiguration="HttpsAndAnonymous_ITokenManagement_1_HttpsAndAnonymous" contract="TrkdTokenManagementService.ITokenManagement_1" name="HttpsAndAnonymous_ITokenManagement_1_HttpsAndAnonymous" />
			<endpoint address="http://api.rkd.reuters.com/api/Search/Search.svc" binding="wsHttpBinding" bindingConfiguration="HttpAndRKDToken_ISearch_EquityQuote_1_HttpAndRKDToken" contract="TrkdSearchEquityQuoteService.IEquityQuote_1" name="HttpAndRKDToken_ISearch_EquityQuote_1_HttpAndRKDToken" />
			<endpoint address="http://api.rkd.reuters.com/api/Quotes/Quotes.svc" binding="wsHttpBinding" bindingConfiguration="HttpAndRKDToken_IQuotes_1_HttpAndRKDToken" contract="TrkdQuoteService.IQuotes_1" name="HttpAndRKDToken_IQuotes_1_HttpAndRKDToken" />
			<endpoint address="http://ifinance-ws.shark2.rolotec.ch:80/finance-ws/" binding="basicHttpBinding" bindingConfiguration="finance-wsSoap11" contract="WsFinanceSix.financews" name="finance-wsSoap11" />
			<endpoint address="http://natwest.dms.dev.additiv.ch/DocumentGenerationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentGenerationService" contract="DocumentGenerationService.IDocumentGenerationService" name="BasicHttpBinding_IDocumentGenerationService" />
			<endpoint address="http://natwest.dms.dev.additiv.ch/DocumentHandlingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentHandlingService" contract="DocumentHandlingService.IDocumentHandlingService" name="BasicHttpBinding_IDocumentHandlingService" />
		</client>
	</system.serviceModel>
</configuration>